/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

p {
    text-align: justify;
}

.banner {
    padding-bottom: 50px;
}

.dropdown {
    cursor:pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #F5F5F5;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

.pinterest-link a:hover {
    color: #c92228;
}

.instagram-link a:hover {
    color: #517fa4;
}

.spotify-link a:hover {
    color: #81b71a;
}

.youtube-link a:hover {
    color: #bb0000;
}

.soundcloud-link a:hover {
    color: #ff7700;
}

.tumblr-link a:hover {
    color: #32506d;
}

.behance-link a:hover {
    color: #1769ff;
}

.github-link a:hover {
    color: #666;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

.banner {
    padding-bottom: 50px;
}

.playlinks {
    text-align: center;
    padding-bottom: 25px;    
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }  

}

@media (max-width: 966px) {

    #playback {
        visibility: hidden;
    } 
}

#container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    overflow: hidden;    
}

#playback {
    position: absolute;
    left: 180px;
    top: 50px;
}

#object {
    margin: 0 auto;
    width: 45%;    
    padding-top: 100px;
}




