<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="img/NyquistLabs.png">
        </div>
        <div class="col-md-6">
            <h2>Welcome to Nyquist Limit Labs</h2>

            <p style="text-align:justify">I am an Android and Web Application developer. I get my kicks from working at the intersection of Art and Science. It occupies me from first thing in the morning until last thing at night. I was educated
            in Computer Science at the University of Limerick and I have a background in Sound Design.</p>

            <p style="text-align:justify">This site showcases my commercial work to date and will act as a blank canvas for ideas. To date I have
               created three Android Applications and have done Web Development work for two separate companies. I aim to showcase the newest features of technologies such as the Android SDK, HTML5, CSS3, and various Javascript libraries.</p>

            <p style="text-align:justify">Please feel free to contact me in the contact section of this website if the need arises and
            thanks for tuning in. </p>   
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/Desktop.png">

            <h3>My Computer
                <small>Computations</small>
            </h3>
            <p>Creates all the magic!</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/Web.png">

            <h3>World Wide Web 
                <small>Knowledge Repository</small>
            </h3>
            <p>Keeps the stack overflow information and api documentations flowing :)</p>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/Me.png">

            <h3>Jason Doyle
                <small>Developer</small>
            </h3>
            <p>Concepts, UI/UX, Graphic Design, Programming - HTML5, CSS3, Javascript, 
               Angular.js, jQuery, Android SDK, Java, XML.</p>
           
            <ul class="list-unstyled list-inline list-social-icons">

            <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/Goldstein84" target="_blank"data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/jason-doyle/26/260/684" target="_blank" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+JasonDoyle82" target="_blank" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social pinterest-link"><a href="http://pinterest.com/thenyquistlimit" target="_blank" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-square fa-2x"></i></a>
            </li> 
            <li class="tooltip-social instagram-link"><a href="http://instagram.com/thenyquistlimit" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram fa-2x"></i></a>
            </li> 
            <li class="tooltip-social spotify-link"><a href="https://play.spotify.com/user/1187426396" target="_blank" data-toggle="tooltip" data-placement="top" title="Spotify"><i class="fa fa-spotify fa-2x"></i></a>
            </li>                                                                                                           
            </ul>
        </div>
</div>
<!-- /.container -->
