<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Android
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Android</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Tabs -->

    <div class="row">

        <div class="col-lg-12">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#futurism" data-toggle="tab">Italian Futurism</a>
                </li>
                <li><a href="#theta" data-toggle="tab">Theta Twist</a>
                </li>
                <li><a href="#physosc" data-toggle="tab">PhysOsc</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="futurism">
                    <i class="fa fa-android pull-left fa-4x"></i>

                    <p>This application was created in order to highlight the Italian Futurist movements idealogies
                        and how they helped shape modern media. They conceptualised many ideas that came to fruition
                        later in the century with regard to Music, Cinematography, Advertising, Sculpture and a lot
                        more besides.From a design standpoint I felt that a text heavy application such as this would benfit from a navigation drawer for easy navigation between screens.</p>
                </div>
                <div class="tab-pane fade" id="theta">
                    <i class="fa fa-android pull-left fa-4x"></i>

                    <p>Theta Twist is a simple visual toy that tests the capabilities of the Processing in combination with the control p5 library.</p>

                </div>
                <div class="tab-pane fade" id="physosc">
                    <i class="fa fa-android pull-left fa-4x"></i>

                    <p>If you would like a detailed description of the mechanics of the PhysOsc project please click the link below. The document represents my BSc thesis on the subject. In it I detail the initial design phase, the technologies used, uses for the Boids Algorithm, and the techniques used to sonify the resulting output. For those interested in the code and libraries used, you can access the source code at the bottom of the page. Please feel free to re-use and reverse engineer, If that's your thing!</p>
  
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Android Projects</h2>
        </div>

        <div class="col-sm-4">
            
            <img class="img-responsive" src="img/Futurismo.png">
            <div class="playlinks">
               <h3>Italian Futurism</h3>
               <h4>Grab it on the playstore</h4>
               <a href="https://play.google.com/store/apps/details?id=com.nyquistlimitlabs.jason.futurists" target="_blank"><img alt="Android app on Google Play" src="img/en_app_rgb_wo_45.png" />
               </a>
            </div>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/Theta.png">
            <div class="playlinks">
               <h3>Theta Twist</h3>
               <h4>Grab it on the playstore</h4>
               <a href="https://play.google.com/store/apps/details?id=com.nyquistlimitlabs.thetatwist" target="_blank"><img alt="Android app on Google Play" src="img/en_app_rgb_wo_45.png" />
               </a>
            </div>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="img/PhysOsc.png">
            <div class="playlinks">
               <h3>PhysOsc</h3>
               <h4>Max MSP / Csound files + APK</h4>
               <a class="btn btn-primary" href="https://www.dropbox.com/sh/h4t4h8vpddg8e18/AACuqqEBu6JGXQJaqnploqa9a?dl=0" target="_blank">Software Package</a>
               </a>
            </div>
        </div>
    </div>
    <!-- /.row -->        

</div>
<!-- /.container -->

<script>
$('.nav-tabs a:not(".external")').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
