<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Contact</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <div class="banner">
            <img class="img-responsive" src="img/Banner.png">
            </div>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-sm-8">
            <h3>Get In Touch</h3>

            <p>Pop your details in the form below if interested in getting in touch. I'll 
               endeavor to swiftly respond to ideas in no later than 24 hours.</p>

            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Name</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email Address</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3>Nyquist Limit Labs</h3>
            <h4>For all your creative development needs</h4>

            <p>
                Shanliss, Killananny<br>
                Blueball, Tullamore<br>
                Co. Offaly, Ireland.
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (083) 119-9428</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
                    href="mailto:nyquistlimitlabs@gmail.com">nyquistlimitlabs@gmail.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/pages/The-Nyquist-Limit/109058425786400" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/TheNyquistLimit" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+NyquistLimitLabsApps" data-toggle="tooltip" target="_blank" data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a></li> 
                <li class="tooltip-social behance-link"><a href="https://www.behance.net/thenyquistlimit" data-toggle="tooltip" target="_blank" data-placement="top" title="Behance"><i
                        class="fa fa-behance-square fa-2x"></i></a></li>
                <li class="tooltip-social github-link"><a href="https://github.com/thenyquistlimit" data-toggle="tooltip" target="_blank" data-placement="top" title="Github"><i
                        class="fa fa-github-square fa-2x"></i></a></li>
                <li class="tooltip-social tumblr-link"><a href="http://nyquistlimit.tumblr.com" data-toggle="tooltip" target="_blank" data-placement="top" title="Tumblr"><i
                        class="fa fa-tumblr-square fa-2x"></i></a></li>                                   
        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->