<!-- The main starfield container, fills the entire screen. -->
    <div id="container"></div>   

    <div id="object" class="bigEntrance">
        <img class="img-responsive" src="img/NyquistLabsAlt.png" height="450" width="700">        
    </div>  

<audio src="assets/Pad.wav" id="playback" controls="false" autoplay="true"></audio>        

    <script src="js/starfield.min.js"></script>
    <script>
        var container = document.getElementById('container');
        var starfield = new Starfield();
        starfield.initialise(container);
        starfield.start();
    </script>    


