
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Web</h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Web</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->  

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/Crowdsight.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="http://www.crowdsight.co/" target="_blank">                  
                <h2>Crowdsight</h2>
                <ul>
                    <li>HTML5 and CSS3</li>
                    <li>Content Management Systems</li>
                    <li>Wordpress Integration</li>
                    <li>Phonegap</li>
                    <li>PHP 5</li>                    
                    <li>Graphic Design</li>                  
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->  

<div class="section-colored">
    <div class="container">    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/WebTech.png">
            </div>            
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="http://www.fidelityinvestments.ie/" target="_blank">                
                <h2>Fidelity Investments</h2>
                <ul>
                    <li>jQuery UI Interaction</li>
                    <li>HTML5 and CSS3</li>
                    <li>Javascript</li>
                    <li>Graphic Design</li>
                    <li>Agile Methodologies</li>
                    <li>Remote working</li>
                    <li>Business Communication</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

</div>
<!-- /.section -->

</div>
<!-- /.container -->

<div class="section">
    <div class="container">    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/NyquistLabs.png"> 
            </div> 
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="http://www.nyquistlimitlabs.net/" target="_blank">                   
                <h2>Nyquist Limit Labs</h2>
                <ul>
                    <li>Angular.js MVC routing system</li>
                    <li>HTML5 and CSS3</li>
                    <li>Javascript</li>
                    <li>Bootstrap Integration</li>
                    <li>jQuery</li>
                    <li>CSS Animation</li>    
                    <li>Responsive Design</li>
                    <li>Server Speed Optimization</li>
                    <li>Graphic Design</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
</div>
<!-- /.section-colored -->
</div>
<!-- /.container -->